.c-item {
    height: 650px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.s-item {
    height: 480px;
}

.s-img {
    height: 100%;
    width: 40%;
}

.service-img {
  filter: brightness(0.6);
  width: 100%;
}


    body {
        background-color: #f8f9fa;
        font-family: "Poppins", sans-serif;
        overflow-x: hidden;
      }

    .contact-section {
            padding: 80px 0;
    }

    .contact-card {
      background: #fff;
      border-radius: 15px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      padding: 40px;
      }

          .form-control {
            border-radius: 10px;
            box-shadow: none !important;
          }

          .btn-custom {
            background: #0d6efd;
            color: #fff;
            border-radius: 30px;
            padding: 10px 25px;
            transition: all 0.3s ease;
          }

          .btn-custom:hover {
            background: #084298;
          }

          .contact-info i {
            font-size: 1.5rem;
            color: #0d6efd;
            margin-right: 10px;
          }

          .map-container {
            border-radius: 15px;
            overflow: hidden;
            height: 300px;
  }
      

  /* body {
      font-family: "Segoe UI", sans-serif;
      background-color: #fff;
    } */
     
    .hero {
      background-color: #f8f9fa;
      padding: 80px 0;
    }
    .service-icon {
      font-size: 40px;
      color: #7c7c7c;
    }
    .feature-img {
      height: 450px;
      width: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
          


.autoShow {
  animation: text-appear both;
  animation-timeline: view();
  animation-range: entry 20% 100vh;
}


@keyframes text-appear {
    from {
      opacity: 0.5;
      transform: translateY(200px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.right {
  animation: right both;
  animation-timeline: view();
  animation-range: entry 20% 100vh;
}

@keyframes right {
  from {
    transform: translateX(150px);
  }

  to {
    transform: translateX(0);
  }
}


.services-text {
  animation: services-text both;
  animation-timeline: view();
  animation-range: entry 20% 100vh;
}

@keyframes services-text {
    from {
      transform: translateX(-100px);
    }

    to {
      transform: translateX(0);
    }
}


.btnn {
  animation: services-text both;
  animation-timeline: view();
  animation-range: entry 20% 100vh;
}

@keyframes services-text {
    from {
      transform: translateY(100px);
    }

    to {
      transform: translateY(-30px);
    }
}

.imageReveal {
    animation: imageReveal both;
    animation-timeline: view(50% 10%);
}


@keyframes imageReveal {
  from {
    filter:saturate(0) contrast(4) brightness(.1) blur(5px);
    opacity: 0;
    scale: .95;
    translate: 0 4rem;
  }
  to {
    filter: none;
    opacity: 1;
    scale: 1;
    translate: 0 0;
  }
}

